body {
    background-color: #e8e3df;
    font-family: Arial, sans-serif;
    color: #433b3f;
    line-height: 1.4;
}

.bg-gradient {
    background: linear-gradient(70deg, #e8e3df, #d4c9c1) !important;
}

footer.bg-gradient {
    background: linear-gradient(110deg, #e8e3df, #d4c9c1) !important;
}

.btn-primary {
    background-color: #d4c9c1;
    border-color: #d4c9c1;
    color: #433b3f;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #c4b4a9;
    border-color: #c4b4a9;
}

.form-control:focus {
    box-shadow: 0 0 0 0.25rem rgba(212, 201, 193, 0.5);
    border-color: #c4b4a9;
}

/* Адаптация формы для мобильных устройств  */
@media (max-width: 576px) {
    .modal-dialog {
        margin: 0.5rem;
        display: flex;
        align-items: center;
        min-height: calc(100% - 1rem);
    }
    .modal-content {
        max-height: 98vh; /* Почти вся высота экрана */
        overflow-y: auto; /* На случай очень маленьких экранов */
    }
    .modal-body {
        padding: 1rem;
    }
    .form-control {
        font-size: 14px;
        margin-bottom: 5px;
    }
}

#formResponse.success { background-color: #d1e7dd; color: #0f5132; }
#formResponse.error { background-color: #f8d7da; color: #842029; }