/* Общие стили */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  font-size: 14px;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 960px;
  padding: 0 auto;
}

header {
  width: 100%;
  height: 150px;
  background: linear-gradient(70deg, #a89da2, #91838a);
}

.header-content {
    display: flex;
    align-items: center;
}

#logo {
  float: left;
  height: 150px;
  margin-right: 20px;
}

/* Для мобильных устройств */

nav {
  background-color: #91838a;
  padding: 10px 0;
  width: 100%;
}

.menu {
  display: flex;
  list-style-type: none;
  flex-direction: column;
}

.menu li {
  margin-bottom: 10px;
}

.menu a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  display: block;
  padding: 8px 0;
}

/* Основное содержимое */

main {
  flex: 1;
  padding: 20px 0;
}

.content-wrapper {
  display: flex;
  flex-firection: column;
}

/* Поменяем порядок секций */

#table {
  order: 1;
}

#links {
  order: 2;
}

#form {
  order: 3;
}

section {
  align-items: center;
  margin-bottom: 30px;
}

h2, h3 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 18px;
  color: #433b3f;
}

ul, ol {
  margin-bottom: 20px;
  padding-left: 20px;
}

li {
  mardin-bottom: 10px;
}

/* Таблица */

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

th, td {
  border: 1px solid #433b3f;
  padding: 10px;
  text-align: center;
}

th {
  font-weight: bold;
}

tr:nth-child(even) {
    background-color: #c2babe;
}

tr:nth-child(odd) {
    background-color: #a89da2;
}

/* Подвал */

footer {
  width: 100%;
  background-color: #918389;
  color: #c2babe;
  text-align: center;
  padding: 20px 0;
}

/* Для планшетов, ноутбуков */

@media screen and (min-width: 768px) {

  #table {
    order: 2;
  }

  #list {
    order: 1;
  }

  #form {
    order: 3;
  }
  
}
